.ais-SearchBox-form {
    @apply flex;

    .ais-SearchBox-input {
        @apply border-l-0 border-r-0 border-t-0 border-b-0 focus:ring-0 pl-0 max-w-full w-full sm:w-full placeholder:text-tertiary placeholder:text-sm-plus-1 sm:placeholder:text-lg sm:text-lg;

        &::-webkit-search-cancel-button {
            @apply hidden;
        }
    }

    .ais-SearchBox-submit {
        @apply hidden;
    }
}

#site-search-hits {
    .ais-Hits-list,
    .ais-InfiniteHits-list {
        @apply grid gap-12 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
    }

    .ais-InfiniteHits-loadMore {
        // @apply mt-12 px-10 py-3 rounded-md uppercase text-sm-plus-1 text-white bg-black hover:bg-gray-800 transition-colors disabled:hidden;
    }
}

#media-coverage-hits-container {
    .ais-SearchBox-form {
        position: relative;

        .ais-SearchBox-reset {
            font-size: 14px;
            position: absolute;
            right: 11px;
            top: 15px;
        }
    }

    .ais-RefinementList-noResults {
        margin-top: 10px;
    }
}

.dynamic-responsive-dropdown .active a {
    color: var(--color-link-hover) !important;
}
